<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% assign transcripts = site.data.transcripts | sort %}
     {%- assign items = site.data[site.metadata] %}
     {% include transcript/style/filter-style.html %}
     {% assign nav = site.data.config-nav | map: 'stub' %}
     {% capture nav_contents %}{%for n in nav%}{{n}}{%endfor%}{% endcapture %}

<div class="cover-container d-flex w-100 h-100 p-x3 pb-3 mx-auto flex-column align-self-center">

  
    <main class="px-3 h-100">
        <div class="row h-100">

        <div class="col-md-6 my-auto">
          
       <h1>{{ site.title }}</strong>
      </h1>
      <p class="lead">{{site.tagline}}</p>
      {% include transcript/index/nav-buttons.html %}
      </div>
      
      
   <div class="col-md-6 my-auto">
    {% if site.data.filters and site.data.theme.home-page-visualization != false %}
{% include transcript/index/viz-overview.html height="450px"%}
{% else %}
{% include feature/image.html objectid=site.data.theme.featured-image caption=false link="browse.html"%}
    </div> 
   {% endif %}
        </div>
    </main>
  
    <footer class="mt-auto text-white-50"></footer>
      {% if site.organization-logo-nav %} <p class="text-end">
       <p><a href="{{ site.organization-link }}" target="_blank" rel="noopener">
            <img id="footer-logo" class="img-fluid" src="{{ site.organization-logo-nav | relative_url }}" alt="{{ site.organization-name }} home">
        </a></p> 
    </p>{% elsif site.organization-link %}
    <p>A <a href="{{ site.organization-link }}" class="text-white">{{ site.organization-name }}</a> project.</p>
    {% endif %}
    </footer>
  </div>
    {% include foot.html %}
  </body>
</html>
